<p id="notice"><%= notice %></p>

<p>
  <strong>Kizi:</strong>
  <%= @log.kizi %>
</p>

<p>
  <strong>Hitokoto:</strong>
  <%= @log.hitokoto %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
